<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<!-- lazy init burada ihtiyacim varsa beani olustur anlamini tasimakta -->

	<bean id="beanB" class="com.gokhangunay.B" lazy-init="true" scope="singleton"> 
		<constructor-arg ref="beanA"></constructor-arg>
	</bean>
	
	<bean id="beanA" class="com.gokhangunay.A" lazy-init="true"></bean> 
	
	<!-- property belirtmedigimiz icin Value lerin hicbirine deger vermedik. 
		property tanimlamasi yapsaydik value tanimlamaya mecburduk. fakat property icerisinde value
		type bile(value-type) belirtebiliyoruz. bu belirtmeyi yaparsak value atamasi yapmak zorunda kalmiyoruz.
		 -->

</beans>
